<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Nuevo Taller</h1>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="" method="post">
                <div class="form-group">
                    <fieldset>
                        <label for="name">Nombre</label><br>
                        <input type="text" name="name" value="" id="name" class="form-control">
                    </fieldset>
                <div class="form-group">
                    <fieldset>
                        <label for="description">Descripcion</label><br>
                        <textarea name="description" id="description" cols="50" rows="10" class="form-control"></textarea>
                    </fieldset>
                </div>
                    <fieldset>
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

