<div class="container">
    <div class="row">
        <div class="col">
            <h1>Editar taller de <%= @name %></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/<%= @name %>" method="post">
                <input type="hidden" name="_method" value="put">
                <div class="form-group">
                    <fieldset>
                        <textarea name="description" rows="8" cols="80" value="<%= @description %>"             id="description" class="form_control">
                            <%= @description %>
                        </textarea>
                    </fieldset>
                </div>
                <input type="submit" name="delete" value="Editar Taller" >
            </form>
        </div>
    </div>
</div>









